.App {
  font-family: sans-serif;
  text-align: center;
}
p {
  font-weight: bold;
}
hr {
  width: 90%;
  margin: auto;
}
body {
  background-color: rgb(245, 245, 164);
}
button {
  cursor: pointer;
  width: 100px;
  height: 40px;
  margin: 10px 5px;
  border-radius: 10px;
  color: white;
  background-color: rgb(8, 68, 8);
}
button:hover {
  background-color: #627208;
}
li {
  list-style: none;
}
.listOfBook {
  color: rgb(8, 68, 8);
  background-color: rgb(138, 160, 138);
  font-weight: bold;
  border: 4px rgb(4, 36, 4);
  padding: 5px;
  border-radius: 6px;
  width: 60%;
  margin: 10px auto;
}
